<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{login.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{login.list.headline}]]</h1>
                <div>
                    <a th:href="@{/logins/add}" class="btn btn-primary ms-2">[[#{login.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${logins.empty}">[[#{login.list.empty}]]</div>
            <div th:if="${!logins.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{login.id.label}]]</th>
                            <th scope="col">[[#{login.username.label}]]</th>
                            <th scope="col">[[#{login.email.label}]]</th>
                            <th scope="col">[[#{login.passwordHash.label}]]</th>
                            <th scope="col">[[#{login.role.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="login : ${logins}">
                            <td>[[${login.id}]]</td>
                            <td>[[${login.username}]]</td>
                            <td>[[${login.email}]]</td>
                            <td>[[${login.passwordHash}]]</td>
                            <td>[[${login.role}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/logins/edit/{id}(id=${login.id})}" class="btn btn-sm btn-secondary">[[#{login.list.edit}]]</a>
                                    <form th:action="@{/logins/delete/{id}(id=${login.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{login.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
